@keyframes mymove {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 5%;
  }
}

@keyframes rightmove {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes rotatemove {
 from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotate1 {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(20deg); }
}
 
@-moz-keyframes rotate1 {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(20deg); }
}

/* @keyframes rotate1 {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(20deg); }
}
 
@keyframes rotate1 {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(20deg); }
} */

.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ecab03;
  border: none;
  box-shadow: none;
  font-size: 14px;
  width: 225px;
  font-family: "Inter";
  font-weight: 600;
}
.goldDiv {
   width: 100%;
  height: 100%;
  margin: 0;
  z-index: 4;
}
.goldPot {
  width: 425px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.goldcoinLeft {
  width: 145px;
  position: absolute;
  left: 30%;
  bottom: 5%;
  transform: translate(-30%, 0);
  animation: mymove 5s infinite;
}
.goldcoinRight {
  width: 145px;
  position: absolute;
  left: 70%;
  transform: translate(-70%, 0);
  bottom: 0%;
  animation: rightmove 5.1s infinite;
}

.goldLight {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* animation: rotatemove 5.1s infinite linear; */
  /* border: 1px solid red; */
  /* width: 700px;
  height: 500px; */
}

.goldLightCss {
  position: absolute;
  bottom: -300px;
  left: 30%;
  /* transform: translate(-50%, 0); */
  animation: rotatemove 5.1s infinite linear;
  clip-path: polygon(35% 0, 0 39%, 36% 52%, 0 75%, 25% 100%, 51% 64%, 71% 100%, 100% 63%, 63% 48%, 100% 31%, 69% 0, 52% 37%);
  width: 600px;
  height: 600px;
  background: linear-gradient(1.87deg, rgba(255, 229, 0, 0.5) -1.18%, rgba(255, 230, 9, 0.435) 3.33%, rgba(255, 231, 23, 0.335) 10.55%, rgba(255, 233, 36, 0.245) 17.77%, rgba(255, 234, 47, 0.17) 25.89%, rgba(255, 234, 56, 0.11) 34.01%, rgba(255, 235, 62, 0.06) 42.13%, rgba(255, 236, 67, 0.025) 51.15%, rgba(255, 236, 70, 0.005) 60.17%, rgba(255, 236, 71, 0) 71.89%);
  animation-duration: 5000ms;
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */

}
.star1 {
  position: absolute;
  left: 20%;
  bottom: 5%;
}
.star3 {
  position: absolute;
  left: 20%;
  bottom: 30%;
}
.star2 {
  position: absolute;
  right: 10%;
  bottom: 5%;
}
/* #grad {
  position: relative;
  border-radius: 50%;
  width: 400px;
  height: 400px;
   animation: rotatemove 5.1s infinite;
}

#grad:after, #grad:before {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, black 50%, black), linear-gradient(82deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(67deg, transparent 50%, #000000 50%, #000000), linear-gradient(52deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(37deg, transparent 50%, #000000 50%, #000000), linear-gradient(22deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(7deg, transparent 50%, #000000 50%, #000000), linear-gradient(-8deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-23deg, transparent 50%, #000000 50%, #000000), linear-gradient(-38deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-53deg, transparent 50%, #000000 50%, #000000), linear-gradient(-68deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-83deg, transparent 50%, #000000 50%, #000000), linear-gradient(-90deg, transparent 50%, #12E0DB 50%, #12E0DB);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
  
}

#grad:before {
  left: 50%;
  transform: rotate(180deg);
} */

@media screen and (max-width: 450px) {
  .goldLight{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  .goldPot {
    width: 100vw;
  }
  .goldcoinLeft {
 
  left: 10%;


}
.goldcoinRight {
  left: 85%;
  /* transform: translate(-90%, 0); */

}
}