@keyframes leftBounce {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 5%;
  }
}

@keyframes rightBounce {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes shootingStar1 {
  0% {
    bottom: 0%;
  }
  50% {
    right: 53%;
    bottom: 20%;
  }
  100% {
    right: 51%;
    bottom: 37%;
    display: none;
  }
}

@keyframes shootingStar2 {
  0% {
    bottom: 0%;
  }
  50% {
    right: 55%;
    bottom: 23%;
  }
  100% {
    right: 59%;
    bottom: 45%;
    display: none;
  }
}

@keyframes shootingStar3 {
  0% {
    bottom: 0%;
  }
  50% {
    right: 45%;
    bottom: 25%;
  }
  100% {
    right: 40%;
    bottom: 40%;
    display: none;
  }
}

@keyframes shootingStar4 {
  0% {
    bottom: 0%;
  }
  50% {
    right: 40%;
    bottom: 25%;
  }
  100% {
    right: 35%;
    bottom: 50%;
    display: none;
  }
}

.bottomWrapper {
   width: 100%;
  height: 100%;
  margin: 0;
  bottom: 0;
  z-index: 4;
}
.goldPot {
  width: 425px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
   transform-origin: center bottom;
}

.leftCoin {
  width: 145px;
  position: absolute;
  left: 30%;
  bottom: 5%;
  transform: translate(-30%, 0);
  animation: leftBounce 5s infinite;
}
.rightCoin {
  width: 145px;
  position: absolute;
  left: 70%;
  transform: translate(-70%, 0);
  bottom: 0%;
  animation: rightBounce 5.1s infinite;
}

.star1 {
  position: absolute;
  left: 20%;
  bottom: 5%;
}

.star3 {
  position: absolute;
  left: 20%;
  bottom: 30%;
}
.star2 {
  position: absolute;
  right: 10%;
  bottom: 5%;
}
.shootingstar {
  position: absolute;
  right: 50%;
  bottom: 0;
 
}
.one {
 animation: shootingStar1 10s infinite ease-out;
}

.two {
 animation: shootingStar2 7s infinite ease-out;
}
.three {
 animation: shootingStar3 8s infinite ease-out;
}
.four {
 animation: shootingStar4 9s infinite ease-out;
}



@media screen and (max-width: 450px) {
  .goldPot {
    width: 100vw;
  }
  .leftCoin {
  left: 10%;
  }
  .rightCoin {
  left: 85%;
  }
}